---
title: App Icons
description: Icons I designed for several applications
layout: default
---
<style>
  .card {
    padding: 1em 2em 2em;
    max-width: 462px;
    margin: 0 auto 2em;
  }

  .icons {
    display: flex;
    margin: auto;
    flex-wrap: wrap-reverse;
    gap: 18px;

    img:not(.symbolic) {
      filter: drop-shadow(0 0 3px rgb(0 0 0 / 25%));
    }
  }

  .symbolic {
    @media (prefers-color-scheme: dark) {
      filter: invert(100%);
    }
  }
</style>
{% for app in apps %}
  <div
    class="card"
    style="
      color: oklch(from #{{ app.color }} 0.5 c h);
      background-color: color-mix(in srgb, var(--bg), #{{ app.color }} 10%);
      border: 1px color-mix(in srgb, var(--bg), #{{ app.color }} 20%) solid;
      animation-duration: {{ forloop.index0 | times: 0.1 | plus: 0.7 }}s;
    "
  >
    <hgroup>
      <h1 class="selectable">
        <a style="font-family: var(--bold); color: inherit;" href="{{ app.url }}">{{ app.name }}</a>
      </h1>
      <p class="selectable">{{ app.desc }}</p>
    </hgroup>
    <br>
    <div class="icons">
      <img
        alt="Symbolic App Icon"
        width="16"
        height="16"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}-symbolic.svg"
        class="symbolic"
      >
      <img
        alt="App Icon"
        width="32"
        height="32"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}.svg"
      >
      <img
        alt="App Icon"
        width="64"
        height="64"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}.svg"
      >
      <img
        alt="App Icon"
        width="128"
        height="128"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}.svg"
      >
      {% if app['on-macos'] == true %}
        <img
          alt="App Icon"
          width="150"
          height="150"
          src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}-macos.webp"
        >
      {% endif %}
    </div>
  </div>
{% endfor %}
<p class="selectable" style="margin: 0 auto">
  I hang out in the GNOME
  <a href="https://matrix.to/#/#appicondesign:gnome.org">App Icon Design</a>
  Matrix room.
  <br>
  If you want to request an icon, you can find me there.
</p>
<br>
{% include 'back-to-top' %}
