---
title: kramo
description: "The homepage of Laura Kramolis: projects, portfolio, and contact information"
layout: default
---
<style>
  main {
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
  }

  .card {
    padding: 2em 1em 2.5em;
    color: white;
  }

  .card a,
  .card a:hover {
    color: inherit;
  }

  .card a.button {
    border-color: rgb(255 255 255 / 7%);
    background-color: rgb(255 255 255 / 15%);
    color: white;
  }

  .card a.button.suggested {
    background-color: white;
    color: black;
  }
</style>

{% for item in home %}
  {% if item.url %}
    <a href="{{ item.url }}">
  {% endif %}

  <div
    class="card"
    style="
      animation-duration: {{ forloop.index0 | times: 0.1 | plus: 0.7 }}s;
      background: {{ item.bg }};
    "
  >
    {{ item.content }}
    {% unless item.content %}
      {% if item.img %}
        <img alt="" {{ item.img }}>
      {% else %}
        <p style="height: 13em" />
      {% endif %}
      <div style="opacity: 0.75">
        <h1>{{ item.name }}</h1>
        <p>
          {{ item.desc -}}
          <span class="arrow" aria-hidden="true">→</span>
        </p>
      </div>
    {% endunless %}
  </div>

  {% if item.url %}
    </a>
  {% endif %}
{% endfor %}

{% include 'back-to-top' %}

<a href="https://git.kramo.page/kramo.page">Website Source</a>