---
title: kramo
description: "The homepage of Laura Kramolis: projects, blog, and contact information"
layout: default
---
<style>
  #logo {
    margin: min(10dvh, 5em) auto 1em;
    width: 64px;
    height: 64px;
    color: var(--accent-bright);

    @media not (prefers-reduced-motion) {
      transition:
        opacity 0.3s,
        transform 0.7s;

      @starting-style {
        opacity: 0;
        transform: translateY(-0.5em);
      }
    }

    & > svg {
      transform-origin: top;
      transform: scale(4);
    }
  }

  #title {
    margin: 0;
    color: var(--accent);

    @media not (prefers-reduced-motion) {
      transition: opacity 0.4s;

      @starting-style {
        opacity: 0;
      }
    }
  }

  #bio {
    @media not (prefers-reduced-motion) {
      transition: opacity 0.3s;

      @starting-style {
        opacity: 0;
      }
    }
  }

  #icons {
    display: flex;
    justify-content: center;
    margin: 2em 0 2em;
    gap: 1em;
  }

  #icons > a {
    @media not (prefers-reduced-motion) {
      animation: bounce-appear;
    }
  }

  #source {
    @media not (prefers-reduced-motion) {
      transition: opacity 1s;

      @starting-style {
        opacity: 0;
      }
    }
  }
</style>

<div id="logo">{% include 'kramo.svg' %}</div>
<h2 id="title" class="selectable">Laura Kramolis</h2>
<p id="bio" class="selectable">
  A Free Software designer and developer,<br>
  motivated by the joy of helping others
</p>

<div id="icons">
  {% for link in links %}
    <a
      class="dim"
      href="{{ link.url }}"
      title="{{ link.name }}"
      style="
        animation-duration: {{ forloop.index0 | times: 0.1 | plus: 0.5 }}s;
        --accent-bright: #{{ link.color }};
      "
    >
      {% include 'icons/{{ link.name | downcase | replace: " ", "-" }}.svg' %}
    </a>
  {% endfor %}
</div>

<div id="source">
  <a class="dim" href="https://git.kramo.page/kramo.page">Website Source</a>
</div>
