---
title: Contact
description: Links to my social media and git forges
layout: default
---
<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;

    & a.button.suggested {
      color: white;
      width: 100%;
      max-width: 25em;
      margin: 0 auto;
      padding: 1.1em 0em;
      border: initial;

      &:hover {
        color: white;
      }

      @media not (prefers-reduced-motion) {
        animation-name: card-appear;
      }

      & img {
        height: 1.2em;
        display: inline;
        vertical-align: text-top;
        margin-right: 1em;
      }
    }
  }
</style>

{% for link in links %}
  <a
    class="button suggested"
    href="{{ link.url }}"
    style="animation-duration: {{ forloop.index0 | times: 0.1 | plus: 0.5 }}s; background-color: #{{ link.color }}"
  >
    <img
      alt=""
      src="/images/icons/{{ link.name | downcase | replace: ' ', '-' }}.svg"
      height="128"
    >
    {{- link.name }}
  </a>
{% endfor %}
