<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://kramo.page{{ page.url }}">

    <title>{{ title }}</title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="/style.css?v=4.5">

    <!-- Open Graph metadata -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kramo.page{{ page.url }}">
    <meta property="og:image" content="https://kramo.page/images/apple-touch-icon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="A geometric fox logo">

    <!-- Mastodon verification -->
    <link rel="me" href="https://chaos.social/@kramo">
    <link rel="me" href="https://mastodon.social/@kramo">
  </head>
  <body id="plain-body">
    {% assign home = page.url == "/" %}
    {% assign icons = page.url == "/app-icon-design" %}
    {% assign post = tags contains "post" %}
    {% assign any = home or icons or post %}
    <header>
      <nav id="nav">
        <ul>
          <li class="{% if home %}selected{% endif %}"><a class="dim" href="/">{% include 'kramo.svg' %} kramo</a></li>
          <li class="{% if not any %}selected{% endif %}"><a class="dim" href="/projects">Projects</a></li>
          <li class="{% if icons %}selected{% endif %}"><a class="dim" href="/app-icon-design">Icons</a></li>
          <li class="{% if post %}selected{% endif %}"><a class="dim" href="{{ collections.post[-1].url }}">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main id="content" class="{{ tags }}">
      {% if post %}
        <p>{{ page.date | date: "%B %-d, %Y" }} <a title="Feed" href="/feed.xml">{% include 'rss.svg'  %}</a></p>
        <h1>{{ title }}</h1>
        {{ content }}
        {% assign previousPost = collections.post | getPreviousCollectionItem %}
        {% assign nextPost = collections.post | getNextCollectionItem %}
        {% if previousPost %}<p><a href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a></p>{% endif %}
        {% if nextPost %}<p><a href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a></p>{% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </main>
  </body>
</html>
